body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  font-family: "Montserrat";
}

.custom-datetime-picker .react-datetime-picker__wrapper {
  border-radius: 0.55rem; /* equivalent to rounded-xl */
  outline: none;
  height: 2.5rem; /* equivalent to h-10 */
}

.custom-datetime-picker .react-datetime-picker__inputGroup__input {
  border-radius: 0.55rem;
  outline: none;
}

